<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prideful Pages | Cart</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../../main/index.js" defer></script>
    <script src="../cart/cart.js" defer></script>
    <script src="../books/books.js" defer></script>
    
    <script
      src="https://kit.fontawesome.com/5f84395d1e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="landing">
      <nav>
        <div class="nav__container">
          <a href="../../main/index.html">
            <img src="../../assets/Prideful Pages LOGO.png" class="logo" alt="prideful pages logo" />
          </a>
          <ul class="nav__links">
            <li><a href="../../main/index.html" class="nav__link">Home</a></li>
            <li><a href="../contact/contact.html" class="nav__link">Contact</a></li>
            <li><a href="../books/books.html" class="nav__link">Books</a></li>
            <li>
              <a href="../cart/cart.html"
                ><i class="fa-solid fa-cart-shopping cart__icon--big"></i
              ><span id="cart-count">0</span></a> 
            </li>
          </ul>
          <button class="btn__menu" onclick="openMenu()">
            <i class="fas fa-bars"></i>
          </button>
          <div class="menu__backdrop">
            <button class="btn__menu btn__menu--close" onclick="closeMenu()">
              <i class="fas fa-times"></i>
            </button>
            <ul class="menu__links">
              <li class="menu__list">
                <a href="../../main/index.html" class="menu__link" onclick="closeMenu()">Home</a>
              </li>
              <li class="menu__list">
                <a href="../books/books.html" class="menu__link" onclick="closeMenu()">Books</a>
              </li>
              <li class="menu__list">
                <a href="../contact/contact.html" class="menu__link" onclick="closeMenu()">Contact</a>
              </li>
              <li class="menu__list">
                <a href="../cart/cart.html" class="menu__link" onclick="closeMenu()">Cart</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <main id="cart__body">
      <section id="cart__main">
        <div class="container">
          <div class="row">
            <h2 class="section__title">
              Your <span class="teal">Cart</span>
            </h2>
            <div class="cart__items">
            </div>
            <div class="cart__total">
              <h3>Total: $<span id="cart-total"></span></h3>
            </div>
            <button class="btn" onclick="checkout()">Checkout</button>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="row row__column">
          <a href="../../main/index.html">
            <figure class="footer__logo">
              <img
                src="../../assets/Prideful Pages LOGO.png"
                class="footer__logo--img"
                alt="prideful pages logo"
              />
            </figure>
          </a>
          <div class="footer__list">
            <a href="../../main/index.html" class="footer__link">Home</a>
            <a class="footer__link no-cursor">About</a>
            <a href="../books/books.html" class="footer__link">Books</a>
            <a href="../contact/contact.html" class="footer__link no-cursor">Contact</a>
          </div>
          <div class="footer__copyright">Copyright &copy; 2024 Prideful Pages</div>
        </div>
      </div>
    </footer>
  </body>
</html> -->
