<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon">
    <title>Prideful Pages | Book Detail</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../../index.js" defer></script>
    <script src="/books.js" defer></script>
    <script src="../../all_books.json" defer></script>
    <script
      src="https://kit.fontawesome.com/5f84395d1e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="book-detail-page">
    <nav>
      <div class="nav__container">
        <a href="../../index.html">
          <img
            src="../../assets/Prideful Pages LOGO.png"
            class="logo"
            alt="prideful pages logo"
          />
        </a>
        <ul class="nav__links">
          <li><a href="../../index.html" class="nav__link home">Home</a></li>
          <li>
            <a href="../about/about.html" class="nav__link contact">About</a>
          </li>
          <li>
            <a href="../contact/contact.html" class="nav__link contact">Contact</a>
          </li>
          <li>
            <a href="../../books.html" class="nav__link nav__link--primary"
              >Books</a
            >
          </li>
        </ul>
        <button class="btn__menu" onclick="openMenu()">
          <i class="fas fa-bars"></i>
        </button>
        <div class="menu__backdrop">
          <button class="btn__menu btn__menu--close" onclick="closeMenu()">
            <i class="fas fa-times"></i>
          </button>
          <ul class="menu__links">
            <li class="menu__list">
              <a href="../../index.html" class="menu__link" onclick="closeMenu()"
                >Home</a
              >
            </li>
            <li class="menu__list">
              <a href="../about/about.html" class="menu__link" onclick="closeMenu()"
                >About</a
              >
            </li>
            <li class="menu__list">
              <a href="../contact/contact.html" class="menu__link" onclick="closeMenu()"
                >Contact</a
              >
            </li>
            <li class="menu__list">
              <a href="../../books.html" class="menu__link" onclick="closeMenu()"
                >Books</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <div class="container">
        <div class="book-details" id="book-detail-container"></div>
      </div>
      <section id="explore">
        <div class="container animate-on-scroll" style="--animate-delay: 0.3s;">
          <div class="row row__column">
            <h2>Explore More <span class="teal">Books</span></h2>
            <h3>Discover Hundreds of Queer Reads and Adventures</h3>
            <a href="../../books.html">
              <button class="btn">Browse Books</button>
            </a>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container animate-on-scroll" style="--animate-delay: 0.3s;">
        <div class="row row__column">
          <a href="../../index.html">
            <figure class="footer__logo">
              <img
                src="../../assets/Prideful Pages LOGO.png"
                class="footer__logo--img"
                alt="prideful pages logo"
              />
            </figure>
          </a>
          <div class="footer__list">
            <a href="../../index.html" class="footer__link">Home</a>
            <a href="../about/about.html" class="footer__link">About</a>
            <a href="../contact/contact.html" class="footer__link">Contact</a>
            <a href="../../books.html" class="footer__link">Books</a>
          </div>
          <div class="footer__copyright">
            Copyright &copy; 2024 Prideful Pages
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
