<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon">
    <title>Prideful Pages | Contact</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../../index.js" defer></script>
    <script src="../books/books.js" defer></script>

    <script
      src="https://kit.fontawesome.com/5f84395d1e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="contact-page">
    <section id="landing">
      <nav>
        <div class="nav__container">
          <a href="../../index.html">
            <img
              src="../../assets/Prideful Pages LOGO.png"
              class="logo"
              alt="prideful pages logo"
            />
          </a>
          <ul class="nav__links">
            <li>
              <a href="../../index.html" class="nav__link home">Home</a>
            </li>
            <li>
              <a href="../about/about.html" class="nav__link contact">About</a>
            </li>
            <li>
              <a href="../contact/contact.html" class="nav__link contact"
                >Contact</a
              >
            </li>
            <li>
              <a href="../books/books.html" class="nav__link nav__link--primary"
                >Books</a
              >
            </li>
          </ul>
          <button class="btn__menu" onclick="openMenu()">
            <i class="fas fa-bars"></i>
          </button>
          <div class="menu__backdrop">
            <button class="btn__menu btn__menu--close" onclick="closeMenu()">
              <i class="fas fa-times"></i>
            </button>
            <ul class="menu__links">
              <li class="menu__list">
                <a
                  href="../../index.html"
                  class="menu__link"
                  onclick="closeMenu()"
                  >Home</a
                >
              </li>
              <li class="menu__list">
                <a
                  href="../about/about.html"
                  class="menu__link"
                  onclick="closeMenu()"
                  >About</a
                >
              </li>
              <li class="menu__list">
                <a
                  href="../contact/contact.html"
                  class="menu__link"
                  onclick="closeMenu()"
                  >Contact</a
                >
              </li>
              <li class="menu__list">
                <a
                  href="../books/books.html"
                  class="menu__link"
                  onclick="closeMenu()"
                  >Books</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <main id="contact__body">
      <section id="contact__main">
        <div class="container contact-form">
          <h2>Contact <span style="color: #71c4c8">Us</span></h2>
          <p class="contact-us--para">
            We'd love to hear from you! Whether you have questions, feedback, or
            just want to connect, feel free to reach out. Our community is all
            about inclusivity, pride, and support. Let's make magic happen
            together!
          </p>
          <form id="contactForm">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea
                id="message"
                name="message"
                rows="5"
                required
              ></textarea>
            </div>
            <button type="submit">Send Message</button>
          </form>
        </div>

        <div id="popup" class="popup">
          Your message has been submitted. We will be in contact with you soon!
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="row row__column">
          <a href="../../index.html">
            <figure class="footer__logo">
              <img
                src="../../assets/Prideful Pages LOGO.png"
                class="footer__logo--img"
                alt="prideful pages logo"
              />
            </figure>
          </a>
          <div class="footer__list">
            <a href="../../index.html" class="footer__link">Home</a>
            <a href="../about/about.html" class="footer__link">About</a>
            <a href="../contact/contact.html" class="footer__link">Contact</a>
            <a href="../books/books.html" class="footer__link">Books</a>
          </div>
          <div class="footer__copyright">
            Copyright &copy; 2024 Prideful Pages
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
